:root {
    --mainback: #FFFFFF;
    --subback: #ffffff;
    --thirdback: #ddcde8;
    --forthback: #f7f5ff;
    --maintext: #000000;
    --subtext: #414141;
    --thirdtext: #216d75;
    --url: #7455ff;

    --clear-btn: rgba(0, 0, 0, 0.2);

    --html-back: #d3f6ff;
    --header-back: #d3f6ff77;
    --g-back: linear-gradient(to right bottom , #d3f6ff , #bae3e4);
    --blue1: #7a82f2ba;

    --quiz-fade: linear-gradient(#fff 55px,#fff0 80px,#fff0 92%,#fff 100%);

    /* スクロールバーカラー */
    --bar-back: rgba(255, 255, 255, 0.2);
    --bar-track: rgba(88, 131, 168, 0.2);
    --bar-hover: rgba(71, 68, 135, 0.3);
    --bar-active: rgba(24, 19, 120, 0.3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --mainback: #231439;
        --subback: #000000;
        --thirdback: #363636;
        --forthback: #161322;
        --maintext: #f5f5f5;
        --subtext: #d8d8d8;
        --thirdtext: #e4dbf3;
        --url: #ad9aff;

        --html-back: #340946;
        --header-back: #34094699;
        --g-back: linear-gradient(to right bottom , #340946 , #091129);
        --blue1: #21277c98;

        --quiz-fade: linear-gradient(#000 50px,#0000 100%);

        /* スクロールバーカラー */
        --bar-back: rgba(0, 0, 0, 0.2);
        --bar-track: rgba(93, 87, 183, 0.5);
        --bar-hover: rgba(116, 120, 222, 0.6);
        --bar-active: rgba(175, 175, 242, 0.7);
        color-scheme: dark;
    }
}

/* スクロールバー */
::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bar-back);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb {
    background: var(--bar-track);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bar-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--bar-active);
}

@font-face {
    font-family: LSeedJP;
    src: url(https://cdn.ymdryy.com/fonts/LSeedJPRg.woff) format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: LSeedJP;
    src: url(https://cdn.ymdryy.com/fonts/LSeedJPBd.woff) format('woff');
    font-weight: 700;
    font-display: swap;
}

/* 本体 */

html {
    background: var(--html-back);
    color: var(--maintext);
    font-family: 'LSeedJP', sans-serif;
    max-width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--url);
}

p {
    margin: 0;
}

.wrapper {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto;
}

#header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--header-back);
}

#header .back {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0 calc((100% - 1060px)/2);
}

#header .back ul {
    list-style: none;
    display: flex;
    text-align: center;
    padding-left: 30px;
}

#header .back ul li {
    font-size: 13px;
    font-weight: bold;
    transition: 1s;
    padding: 8px 10px;
    margin: 0;
    color: var(--bar-active);
    position: relative;
}

#header .back ul li:hover {
    background: var(--html-back);
    transition: .2s;
}

#header .back ul li::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--bar-active);
    bottom: 0;
    left: 50%;
    width: 0;
    transition: 1s;
}

#header .back ul li:hover::before {
    left: 0;
    width: 100%;
    transition: .2s;
}

#header .back ul li:active {
    background: var(--bar-active);
    color: var(--thirdtext);
    transition: 0s;
}

@media screen and (max-width: 500px) {
    #header .back ul {
        padding-left: 10px;
    }
}

/* カウントダウン */
.countdown {
    padding: 60px 0;
}

.countdown #countdownArea {
    text-align: center;
    max-width: 100%;
}

.countdown h2 {
    line-height: 1;
    margin: 0;
    font-size: 24px;
}

.countdown .clock {
    font-size: 20px;
}

.countdown span {
    font-size: 26px;
}

@media screen and (max-width: 500px) {
    .countdown {
        padding: 50px 0;
    }

    .countdown h2 {
        font-size: 18px;
    }

    .countdown .clock {
        font-size: 16px;
    }

    .countdown span {
        font-size: 22px;
    }
}

/* テスト時間割 */
.test-time-schedule {
    padding: 0 30px;
    margin: 50px auto;
    max-width: calc(100% - 60px);
    width: 1000px;
}

.test-time-schedule h2 {
    margin: 0;
    color: var(--thirdtext);
}

.test-time-schedule .back {
    background: var(--subback);
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.test-time-schedule table {
    width: 100%;
    padding: 20px;
}

.test-time-schedule td,.test-time-schedule th {
    width: calc(100% / 4);
    height: 30px;
    text-align: center;
    background: var(--forthback);
}

.test-time-schedule td:hover,.test-time-schedule th:hover {
    background: var(--mainback);
}

.test-time-schedule th::after {
    content: "日目";
}

@media screen and (max-width: 500px) {
    .test-time-schedule {
        padding: 0 10px;
        max-width: calc(100% - 20px);
    }

    .test-time-schedule table {
        padding: 10px;
    }
}

/* テスト範囲 */
.test-range {
    padding: 0 30px;
    margin: 50px auto;
    width: 1000px;
    max-width: calc(100% - 60px);
}

.test-range article .explain {
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.test-range article hr {
    border: none;
    border-top: 1px solid #86868686;
}

.test-range article .explain::after {
    content: "左で教科を選択";
}

.test-range h2 {
    margin: 0 0 10px 0;
    color: var(--thirdtext);
}

.test-range .back {
    display: flex;
    background: var(--subback);
    padding: 20px;
    border-radius: 10px;
    max-height: 450px;
}

.test-range .left {
    width: 130px;
}

.test-range .back .right {
    width: calc(100% - 130px);
    overflow-y: auto;
}

.test-range .right::-webkit-scrollbar {
    display: none;
}

.btn-tr-t {
    background: var(--forthback);
    display: block;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    font-size: 14px;
    transition: .2s;
}

.btn-tr-t:hover {
    background: var(--thirdback);
}

.btn-tr-t:active {
    background: var(--subtext);
    color: var(--mainback);
    transition: 0s;
}

input:checked + .btn-tr-t {
    background: #FFF;
}

input[name="tab-tr"] {
    display: none;
}

input:checked +.btn-tr + article {
    display: block;
}

.test-range article {
    display: none;
    width: calc(100% - 30px);
    padding: 5px 0 5px 30px;
    animation: article-anime .2s ;
}

@keyframes article-anime {
    0% {
        opacity: 0;
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.test-range article h3 {
    margin: 0;
    font-size: 24px;
}

.test-range article table {
    width: 100%;
}

.test-range article p {
    padding: 10px 4px;
    color: var(--subtext);
}

.test-range article td {
    background: var(--forthback);
    padding: 4px 8px;
}

.test-range article td:first-child {
    width: 30%;
}

@media screen and (max-width: 500px) {
    .test-range {
        padding: 0 10px;
        margin: 50px auto;
        max-width: calc(100% - 20px);
    }

    .test-range .back {
        padding: 10px;
        max-height: 425px;
    }

    .test-range .left {
        width: 100px;
    }
    
    .test-range .back .right {
        width: calc(100% - 100px);
    }

    .test-range article {
        padding: 5px 0 5px 10px;
        width: calc(100% - 10px);
    }

    .test-range article h3 {
        font-size: 20px;
    }

    .test-range article p {
        padding: 10px 0;
        font-size: 14px;
    }

    .btn-tr-t {
        font-size: 13px;
    }
}


/* 時間割 */
.time-schedule {
    width: 1000px;
    max-width: calc(100% - 60px);
    margin: 50px auto;
}

.time-schedule h2 {
    margin: 0 0 10px 0;
    color: var(--thirdtext);
}

.time-schedule .back p {
    text-align: right;
    font-size: 12px;
}

.time-schedule .back .no-data::after {
    content: "表示するデータがありません";
}

.time-schedule .back {
    background: var(--subback);
    padding: 15px 20px;
    margin: 0;
    border-radius: 15px;
}

.time-schedule .boxes {
    width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
    display: flex;
}

.time-schedule .tab {
    width: calc((100% - 36px)/9);
    margin: 0 2px;
    height: 40px;
    background: var(--forthback);
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.1s;
    cursor: pointer;
}

.time-schedule .boxes .tab:hover {
    background: var(--mainback);
    font-size: 16px;
}

.time-schedule .boxes .tab:active{
    background: var(--forthback);
}

.time-schedule .boxes .tab::after {
    content: "組";
}

input[name="tab-name"] {
    display: none;
}

input:checked+.tab {
    background-color: var(--thirdback);
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}

.time-schedule .content {
    display: none;
    width: 100%;
    margin: 0 auto;
}

input:checked+.tab+.content {
    display: block;
}

.time-schedule article table {
    width: 100%;
    margin-top: 10px;
}

.time-schedule article table th {
    background: var(--forthback);
    height: 35px;
    font-size: 15px;
}

.time-schedule article table td {
    background: var(--forthback);
    text-align: center;
    height: 30px;
    width: calc(100%/6);
    font-size: 15px;
    transition: 0.2s;
}

.time-schedule article table td:hover,.time-schedule article table th:hover {
    background: var(--mainback);
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .time-schedule {
    max-width: calc(100% - 20px);
    }

    .time-schedule h2 {
        margin-left: 0;
    }

    .time-schedule .back {
        margin: 0;
        padding: 15px 10px;
    }

    .time-schedule .back .first::after {
        content: "クラスの番号を選択してください";
    }
    

    .time-schedule .boxes .tab::after {
        content: "";
    }

    .time-schedule article table th {
        font-size: 14px;
        height: 30px;
    }

    .time-schedule article table td {
        font-size: 12px;
    }

    .time-schedule article table td:hover,.time-schedule article table th:hover {
        background: var(--mainback);
        font-size: 13.5px;
    }
}

/* 小テスト */
.quiz {
    width: 1000px;
    max-width: calc(100% - 60px);
    margin: 50px auto;
}

.quiz h2 {
    margin: 0 0 10px 0;
    color: var(--thirdtext);
}

.quiz .in {
    position: relative;
    width: 100%;
}

.quiz input {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    background: var(--mainback);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 5;
    filter: drop-shadow(0 0 7px #00000019);
    outline: none;
    border: none;
}

.quiz .area {
    width: 100%;
    background: var(--subback);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    max-height: 400px;
}

.quiz .content {
    padding: 70px 0 15px 0;
    max-height: 305px;
    overflow-y: auto;
}

.quiz .content::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    position:absolute;
    background: var(--quiz-fade);
    border-radius: 15px 15px 0 0 ;
    z-index: 4;
}

.quiz .content::-webkit-scrollbar {
    display: none;
}

.quiz .box {
    background: var(--mainback);
    border-radius: 100px;
    padding: 10px;
    margin: 5px 20px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 10px #0001);
}

.quiz .box:last-child {
    margin: 5px 20px 15px;
}

.quiz .date {
    min-width: 50px;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    padding: 2px 10px;
    margin: 0 5px 0 0;
    color: #FFF;
}

.quiz .info {
    font-size: 11px;
    color: var(--subtext);
    line-height: 1;
}

.quiz h3 {
    line-height: 1;
    margin: 2px 0 0 0;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .quiz {
        max-width: calc(100% - 20px);
    }

    .quiz h2 {
        margin-left: 0;
    }

    .quiz .area {
        margin: 0;
    }

    .quiz input {
        width: calc(100% - 60px);
        top: 15px;
        left: 15px;
    }

    .quiz .content {
        padding: 55px 0 5px 0;
    }

    .quiz .content::before {
        left: 5px;
        width: calc(100% - 10px);
    }

    .quiz .box {
        margin: 5px 10px;
    }

    .quiz .box:last-child {
        margin: 5px 10px 10px;
    }

    .quiz .info {
        font-size: 10px;
    }

    .quiz h3 {
        font-size: 14px;
    }

    .quiz .date {
        min-width: 40px;
        font-size: 14px;
        padding: 3px 10px;
    }
}

/* 和訳 */
.translation {
    width: 1000px;
    max-width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0 auto;
}


input[name="tab-tl"] {
    display: none;
}

.translation .content {
    display: none;
    width: 100%;
    margin: 0 auto;
}

input:checked+.tab-tl+.content {
    display: block;
}

.translation h2 {
    font-size: 24px;
    color: var(--thirdtext);
    margin: 10px 0;
}

.translation h3 {
    line-height: 1;
    margin: 20px 0 5px 0;
}

.translation h3:first-child {
    margin: 5px 0;
}

.translation .tab-tl {
    border: 2px solid var(--maintext);
    border-radius: 100px;
    padding: 4px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    line-height: 44px;
    white-space: nowrap;
}

.translation .tab-tl:hover {
    transition: .2s;
    background: var(--maintext);
    color: var(--thirdback);
}

.translation .area {
    background: var(--subback);
    border-radius: 15px;
    padding: 20px;
}

.translation .content {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--mainback);
    z-index: 100;
    overflow-y: scroll;
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    animation: translation .3s;
}

@keyframes translation {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.translation .content h3 {
    font-size: 24px;
}

.translation .content span {
    color: var(--subtext);
    font-size: 12px;
}

.translation .content .attention {
    padding: 20px;
    margin: 40px auto 60px auto;
    width: calc(100% - 40px);
    background: var(--bar-track);
    border-radius: 10px;
    font-size: 12px;
}

.translation .content::-webkit-scrollbar {
    width: 10px;
}

.translation .in {
    width: 1000px;
    min-height: 100vh;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    padding: 40px 20px;
}

.translation .close-tl {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 20px auto;
    padding: 4px 5px 6px 5px;
    font-size: 15px;
    border: 2px solid var(--maintext);
    background: var(--mainback);
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.translation .close-tl:hover {
    background: var(--maintext);
    color: var(--thirdback);
    transition: .2s;
}

@media screen and (max-width: 500px) {
    .translation {
        max-width: calc(100% - 20px);
        padding: 0;
    }

    .translation .area {
        padding: 20px 15px;
    }
}

/* 主な予定 */
.schedule {
    width: 100%;
    margin: 50px 0;
}

.schedule h2 {
    text-align: left;
    font-size: 24px;
    color: var(--thirdtext);
    padding: 0 30px;
    width: 1000px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

.schedule .boxes {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    padding: 0 calc((100% - 1000px)/2);
    scroll-snap-type: x mandatory;
    scroll-padding: 0 calc((100% - 1000px)/2);
}

.schedule article {
    min-width: 300px;
    min-height: 150px;
    background: var(--subback);
    padding: 20px;
    border-radius: 15px;
    margin: 10px 5px;
    scroll-snap-align: start;
}

.schedule article .category {
    margin: 0;
    font-size: 12px;
    color: var(--subtext);
}

.schedule article h3 {
    font-size: 20px;
    margin: 0;
}

.schedule article .date {
    font-size: 14px;
    color: var(--subtext);
    margin: 0;
}

.schedule article .plus {
    margin-top: 20px;
}

@media screen and (max-width: 1060px) {
    .schedule .boxes {
        padding: 0 30px;
        scroll-padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .schedule h2 {
        padding: 0 10px;
        max-width: calc(100% - 20px);
    }

    .schedule .boxes {
        padding: 0 5px;
        scroll-padding: 0 10px;
    }
}

/* footer */
footer {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    cursor: default;
    border-top: 1px solid rgba(112, 109, 135, 0.5);
}

footer .copyright {
    text-align: center;
    font-size: 14px;
    color: var(--subtext);
    opacity: .8;
}

/* Instagram */
.instagrams-anime {
    background: linear-gradient(45deg, #4c64d3, #cf2e92, #f26939, #ffdd83);
    background-size: 200% 200%;
    animation: bggradient 10s ease infinite;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.instagrams {
    max-width: 100%;
    max-height: 100%;
}

.instagrams section {
    max-width: 100%;
    max-height: 100%;
    display: block;

}

.instagrams section .text {
    padding: calc((100vh - 45px)/2) 0;
    text-align: center;
}

.instagrams section a {
    color: #FFF;
    background: var(--clear-btn);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 5px 20px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    transition: 0.5s;
}

.instagrams section a:hover {
    font-size: 18px;
    padding: 5px 30px;
}

.instagrams section a:active {
    background: #cecece;
}