*{
    margin: 0;
    padding: 0;
    font-family: 'LSeedJP' , sans-serif;
}

@font-face {
    font-family: LSeedJP;
    src: url(https://cdn.ymdryy.com/fonts/LSeedJPRg.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: LSeedJP;
    src: url(https://cdn.ymdryy.com/fonts/LSeedJPBd.woff) format('woff');
    font-weight: 700;
}

/* スクロールバー */
::-webkit-scrollbar {
    display: none;
}

/* 質問箱 */
body {
    height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    background: linear-gradient(#8218a5,#3a0851);
    color: #FFF;
}

.question {
    width: 100%;
    overflow: hidden;
    color: #222;
}

.question h1 {
    text-align: center;
    color: #ffF;
}

.question form {
    width: 720px;
    max-width: 90%;
    margin: 10px auto;
}

.question form textarea {
    width: 90%;
    height: 100px;
    max-width: 90%;
    max-height: 200px;
    min-width: 90%;
    min-height: 200px;
    padding: 10px 15px;
    font-size: 15px;
    font-family: 'LSeedJP', sans-serif;
    background: #FFF3;
    color: #FFF;
    outline: none;
    border: none;
    border-radius: 10px;
}

.question form button {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 10px auto;
    border-radius: 50px;
    border: 1.5px solid rgb(255, 255, 255);
    color: #FFF;
    background: #FFF0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: 'LSeedJP', sans-serif;
    transition: 1s;
}

.question form button:hover {
    background: #fff3;
    transition: .1s;
}

.finish {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.finish h1 {
    display: block;
    text-align: center;
    animation: fadeup 3s;
}

@keyframes fadeup {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}